.contact-title{
   text-align: center;
   color: #1B745E;
   margin-bottom: 40px;
}

.contacts{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}



.contact{
   text-align: center;
   color: #1B745E;
}

.name{
   font-size: 25px;
   margin-top: 20px;
}

@media(max-width:768px){
   .contact{
      width: 100%;
   }
}